@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;

    --sidebar-background: var(--nextui-content1);

    --sidebar-foreground: var(--nextui-foreground-700);

    --sidebar-primary: var(--nextui-primary);

    --sidebar-primary-foreground: var(--nextui-primary-foreground);

    --sidebar-accent: var(--nextui-content2);

    --sidebar-accent-foreground: var(--nextui-content2-foreground);

    --sidebar-border: var(--nextui-foreground-100);

    --sidebar-ring: var(--nextui-primary);
  }
}
